<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="JoshSpivey_SalesGrid::customMenu" title="Backbone Grid" module="JoshSpivey_SalesGrid" sortOrder="500" parent="Magento_Sales::sales_operation" resource="JoshSpivey_SalesGrid::customMenu"/>
        <add id="JoshSpivey_SalesGrid::orders" title="Sales Grid" module="JoshSpivey_SalesGrid" sortOrder="100" parent="JoshSpivey_SalesGrid::customMenu" action="SalesGrid/orders" resource="JoshSpivey_SalesGrid::orders"/>
    </menu>
</config>
